<footer class="mt-12 flex flex-col items-center bg-[#292929] p-4">
  <div class="item-center flex flex-col justify-center">
    <div class="text-center">
      <span class="text-white">自由創作者股份有限公司</span><span class="text-white"
        >© All Rights Reserved</span
      >
    </div>
    <div class="hidden text-center">
      <span class="text-white">統編：</span><span class="text-white">地址：</span>
    </div>
  </div>
</footer>