<header class="z-50 w-full bg-[#292929] transition duration-300">
  <div class="mx-auto flex h-auto w-full items-center justify-between px-6 md:max-w-6xl">
    <div>
      <a href="/"
        ><img src="./itool-logo.svg" alt="logo" width="120" height="120" /></a
      >
    </div>
  </div>
</header>