---
import IndexLayout from "../layouts/IndexLayout.astro";
---
<IndexLayout>
	<section class="p-6">
		<h1>DNM-Itools</h1>
	</section>
	<section class="p-6">
		<h2>線上工具，安心服用</h2>
	</section>
	<section class="p-6">
		<h2>知識文章分享</h2>
	</section>
	<section class="p-6">
		<h2>Contact us</h2>
		<p>如果對於工具有任何想優化，或者是希望網站上新增什麼樣的簡易工具，都歡迎與我們聯繫，感謝各位的支持。</p>
		<a href="#">立即聯繫</a>
	</section>
</IndexLayout>
