---
import getInfo from "@services/getInfoByIp";

const fromServerIp = Astro.clientAddress;
const fromNginxIp = Astro.request.headers.get("x-forwarded-for");
const ip:string | null = (fromNginxIp) ? fromNginxIp : fromServerIp;
let ipInfo = await getInfo(ip)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<p>{ipInfo.ip_network}</p>
		<p>{ipInfo.county_code}</p>
		<p>{ipInfo.county_name}</p>
	</body>
</html>
