---
import IndexLayout from "../layouts/IndexLayout.astro";
---
<IndexLayout>
	<section class="p-6 grid grid-cols-1 gap-4 md:grid-cols-2">
		<div>
			<h1>DNM-Itools</h1>
		<p>解決您四面八方問題的金鑰</p>
		<p>我們提供專業領域相關的基礎知識，給予更簡便的工具，滿足您的各方需求</p>
		</div>
		<div></div>
	</section>
	<section class="p-6">
		<h2>線上工具，安心服用</h2>
	</section>
	<section class="p-6">
		<h2>知識文章分享</h2>
	</section>
	<section class="p-6">
		<h2>Contact us</h2>
		<p>如果對於工具有任何想優化，或者是希望網站上新增什麼樣的簡易工具，都歡迎與我們聯繫，感謝各位的支持。</p>
		<a href="#">立即聯繫</a>
	</section>
</IndexLayout>
