---
import getInfo from "@services/getInfoByIp";
import ItoolLayout from "../layouts/ItoolLayout.astro";
const fromNginxIp = Astro.request.headers.get("x-forwarded-for");
const ip:string | null = (fromNginxIp) ? fromNginxIp : "127.0.0.1";
let ipInfo = await getInfo(ip)
console.log(ipInfo)
---
<ItoolLayout>
	<section
	class="mx-auto flex min-h-[600px] max-w-full items-center justify-center px-6 md:max-w-6xl"
>
	<div class="mx-auto grid w-full grid-cols-1 gap-4 py-12 md:max-w-5xl md:grid-cols-2">
		<div class="">
			<h1 class="text-center text-6xl font-bold md:text-left">IP搜尋</h1>
			<div class="mt-10">
				<div class="text-center md:text-left">
					<label for="1" class=" text-sm text-gray-600">請輸入您想知道的 IP 位址：</label>
				</div>
				<div class="mt-1 flex flex-col items-center md:mt-0 md:flex-row">
					<div class="">
						<input
							type="text"
							class="box-border rounded-md border-[2px] border-solid border-gray-400 p-1 outline-none transition-shadow focus:border-blue-400"
							id="1"
						/>
					</div>
					<div class="mt-6 flex justify-center md:ml-4 md:mt-0">
						<button
							class="rounded-full bg-orange-300 p-4 text-center text-white"
							type="button"
							>取得 IP 詳細資料</button
						>
					</div>
				</div>
				<div class="mt-6 flex items-center text-center md:mt-4 md:text-left">
					<p class=" text-xs text-gray-600">
						此網站所使用的 IP2Location LITE 數據來自於 <a href="https://lite.ip2location.com"
							>https://lite.ip2location.com</a
						>.
					</p>
				</div>
			</div>
		</div>
		<div class=" min-h-[500px] rounded-xl bg-[#282c34] px-8 py-4 text-[#ABB2BF]">
			<div>
				<h2 class="text-base font-bold">IPv4</h2>
				<ul class="mt-2">
					<li>ip : <span class="text-[#98C379]">{ipInfo.ip_network}</span></li>
					<li>county code : <span class="text-[#98C379]">{ipInfo.country_code}</span></li>
					<li>county name : <span class="text-[#98C379]">{ipInfo.country_name}</span></li>
				</ul>
			</div>
		</div>
	</div>
</section>
</IndexLayout>
